<script>
import { mapState } from "vuex";
export default {
  name: "Header",
  computed: mapState({
    // maping state from Vuex.
    currency: "currency",
    cartPrice(state) {
      let value = 0;
      state.cart.forEach((item) => (value += item.price * item.amount));
      value = Math.floor(value * 100) / 100; //round to two decimal places
      return value;
    },
  }),
};
</script>

<style scoped>
.header {
  padding: 10px;
  background: #e5e5e5;
}
</style>

<template>
  <div class="header">
    <h3>Товаров в корзине на: {{ cartPrice }} {{ currency }}</h3>
  </div>
</template>
