<template>
  <div class="product-list">
    <div class="card" v-for="product in products" :key="product.id">
      <p class="card-title">{{ product.title }}</p>
      <img class="card-image" :src="product.image" alt="" />
      <p class="card-price">Цена: {{ product.price }} {{ currency }}</p>
      <div>
        <input
          type="number"
          min="0"
          :id="product.id"
          v-model="amounts.get(product.id).amount"
        />
        <span>кг</span>
      </div>

      <button @click="addToCart(product)">В корзину</button>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      amounts: new Map(),
      interval: null,
    };
  },
  computed: mapState({
    // use v-model instade of refs. Min value of input is 0. added key atribute for v-for
    currency: "currency",
    products(state) {
      for (let product of state.products) {
        if (!this.amounts.has(product.id)) {
          this.amounts.set(product.id, { amount: "" });
        }
      }
      return state.products;
    },
  }),
  methods: {
    updateAmount(newAmount, productId) {
      this.amounts.get(productId).amount = newAmount;
    },
    getAmount(productId) {
      return this.amounts.get(productId).amount || "0";
    },
    clearAmount(productId) {
      if (!this.amounts.has(productId)) {
        this.amounts.set(productId, { amount: "" });
      } else {
        this.amounts.get(productId).amount = "";
      }
    },
    addToCart(product) {
      if (this.getAmount(product.id) === "0") {
        return;
      }
      const amount = parseFloat(this.getAmount(product.id));
      // add to cart only where amount is positive
      if (amount > 0) {
        let data = {
          amount: amount,
          price: product.price,
          title: product.title,
          productId: product.id,
        };
        this.clearAmount(product.id);
        this.$store.commit("addToCart", data);
      }
    },
  },
};
</script>

<style>
.product-list {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  /*media require instead JS calculate width */
}

@media (max-width: 840px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 420px) {
  .product-list {
    grid-template-columns: 1fr;
  }
}

.card {
  display: inline-block;
  border: 1px solid #908888;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}
.card-image {
  width: 100%;
}
button {
  padding: 5px;
  margin: 5px;
}
</style>
