<template>
  <div id="app">
    <Header />
    <List />
    <Cart />
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import List from "./components/List.vue";
import Cart from "./components/Cart.vue";
import { mapActions } from "vuex";

// use Vuex for state
export default {
  name: "App",
  components: {
    Header,
    List,
    Cart,
  },
  methods: {
    // map action from Vuex.
    ...mapActions({
      refreshProducts: "refreshProducts",
    }),
    // monitoring prices every second
    startPricesMonitoring() {
      this.finishPricesMonitoring();
      this.interval = setInterval(this.refreshProducts, 1000);
    },
    finishPricesMonitoring() {
      clearInterval(this.interval);
    },
  },
  created() {
    this.startPricesMonitoring();
  },
  destroyed() {
    this.finishPricesMonitoring();
  },
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #2c3e50;
}
</style>
